$userJourney: ".user-journey";

#{$userJourney} {
    display: grid;
    grid-template-columns: minmax(100px, 15%) 1fr;
    margin: 25px;

    &__tray {
        padding: 25px;
        // background-color: palevioletred;
        border: 2px solid rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #{$userJourney}__icon {
            background-color: none;
            padding: 10px;
            &:hover {
                cursor: grab;
            }
        }
    }

    &__playground {
        padding: 25px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        // background-color: rosybrown;
        display: grid;
        place-items: center;

        // #{$userJourney}__playground div{

        $tile: ".tile";

        #{$tile} {
            display: flex;
            flex-direction: row-reverse;
            // background-color: rgba(160, 81, 45, 0.384);

            #{$tile}__box {
                // float: left;
                width: 70px;
                height: 70px;
                margin: 10px;
                padding: 10px;
                border: 2.5px solid rgba(0, 0, 0, 0.5);
                display: grid;
                place-items: center;
                border-radius: 25%;

                // & #{$userJourney}__icon {
                //     animation-name: animationX;
                //     animation-duration: 2s;
                //     animation-iteration-count: infinite;
                //     animation-timing-function: ease;
                //     // background-color: royalblue;
                // }
            }
            #{$tile}__cancel {
                position: relative;
                right: 50px;
                bottom: 10px;
                cursor: pointer;
                height: 30px;

                &:hover {
                    background-color: white;
                    border-radius: 50%;
                    height: 30px;
                }
            }
            #{$tile}__cancel--hidden {
                visibility: hidden;
                width: 1px;
            }
            #{$tile}__forward {
                position: relative;
                left: 0px;
                top: 18px;

                & .arrow-group {
                    display: flex;
                    flex-direction: column;
                }
            }

            #{$tile}__forward--hidden {
                display: none;
            }
        }
        // }
    }
}

// @keyframes animationX {
//     from {
//         margin-top: -10px;
//     }
//     // 25% {
//     //     margin-top: -5px;
//     // }
//     50% {
//         margin-top: 0px;
//     }
//     // 75% {
//     //     margin-top: -5px;
//     // }
//     to {
//         margin-top: -10px;
//     }
// }
