@import "../../../src/base.scss";

$total: 8;


@mixin getGroup($selector) {
    // display: flex;
    // padding: 10px;
    // @debug "ss" + $selector;
    #{$selector}__group {
        padding: 10px;
        // @if $selector == '.pg-node' {
            background-color: darkblue;
        // } @else {
        //     background-color: brown;
        // }
        margin: 10px;
        // display: inline-block;
        #{$selector}__value {
            width: 100%;
            height: 100%;
            color: white;
            align-self: center;
            font-weight: 700;
            // display: inline-block;
        }
        #{$selector}__priority {
            background-color: bisque;
            color: black;
            font-weight: bolder;
            border-radius: 50%;
            width: 30px;
            display: inline-block;
            margin: 0 10px;
            // width: 40px;
            // height: 40px;
            // line-height: 1.2em;
        }
    }
}


.pq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $yellowText;

    &--result{
        display: flex;
        justify-content: flex-end;

        @include getGroup(".pq-node");
    }

    &__priority-node {
        background-color: cyan;
        color: black;
    }

    &__priority {
        // background-color: red;
        position: relative;
        display: inline-block;
        width: 150px;
        height: auto;
    }

    .pq-node {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 20px;

        @include getGroup(".pq-node");

        &__left {
            background-color: black;
            // width: 100%;
            // height: 100%;
            color: $yellowText;
            // top: 25px;
            position: relative;
            align-self: center;
            left: -43px;
        }
        &__right {
            background-color: black;
            // width: 100%;
            // height: 100%;
            color: $yellowText;
            // top: 25px;
            position: relative;
            align-self: center;
            right: 10px;
        }

        // .pq{
        // @for $i from 1 to $total {
        //  @if $i % 2 == 0
        // @debug "$i is " #{($i) + 1};
        // &:nth-child(#{$i}) {
        // position: relative;
        // background-color: yellow;
        // left: -70px;
        // }
        // @if $i > 1 {
        //     @if ($i) % 2 == 0 {
        //         &:nth-child(#{($i)}) {
        //             position: relative;
        //             background-color: blue;
        //             left: -70px;
        //         }
        //     } @else {
        //         &:nth-child(#{($i)}) {
        //             position: relative;
        //             background-color: red;
        //             right: -70px;
        //         }
        //     }
        // }
        // }
        // }
    }
}



.button {
    margin: 10px;
}

.final-msg,
.empty-info {
    margin: 10px;
}

.task-dropdown,
.priority-dropdown {
    color: black;
    font-size: 24px;
}

.fade-enter {
    // max-height: 0;
    opacity: 0;
  }
  
  .fade-enter-active {
    // max-height: 30px;
    opacity: 1;
    transition: all 500ms;
  }
  
  .fade-exit {
    // max-height: 30px;
    opacity: 1;
  }
  
  .fade-exit-active {
    // max-height: 0;
    opacity: 0;
    transition: all 500ms;
  }