@import "../../base.scss";

// transition: <property> <duration> <timing-function> <delay>; pdtd

.layout {
    background-color: grey;
    height: 400px;
    width: 400px;

    // & .app-menu {
    //     background-color: red;
    //     left: -300px;
    //     position: relative;
    //     transition: transform 300ms ease-in;
    //     &:hover {
    //         left: 0px;
    //         transition: left 300ms linear;
    //     }
    // }
    // & .app-menu {
    //     background-color: red;
    //     transform: translateX(-100%);
    //     position: relative;
    //     transition: transform 300ms ease-in;
    //     &:hover {
    //         transform: none;
    //         // transition: transform 300ms linear;
    //     }
    // }
    & .app-menu {
        background-color: red;
        transform: translateX(-100%);
        position: relative;
        transition: transform 300ms ease-in infinte;
        will-change: transform; //this will allow GPU to take control over on layers to animate!
        &:hover {
            transform: none;
            // transition: transform 300ms linear;
        // transition: transform 300ms ease-in infinte;

        }
    }

    .header {
        background-color: black;
        .menu-icon {
            &:hover{
                &::after{
                    transition: left 300ms linear;
                }
            }
            &::after {
            // transition: left 300ms linear;
                content: "#";
                width: 50px;
                height: 50px;
                background-color: greenyellow;
            }
        }
    }
}
// .section {
//     display: flex;
// }

// .styles{
//     background-color: palegreen;
//     &:hover{
//         &::after{
//             content: 'hover';
//             height: 100px;
//             width: 100px;
//             top: 0;
//             // opacity: 1;
//             background-color: palevioletred;
//         }
//     // transition: 1s ease-in;

// }

// &::after {
//     transition: height 1s ease-in;
//     //     transition: height 2s;
//             // opacity: 0;
//             height: 400px;
//     }
// }

// .layout{

// }

// .paint{

// }

// .composite{

// }

// .font {
//     font-size: 14px;
//     display: block;
//     width: 100px;
//     height: 100px;
//     background-color: #0000ff;
//     transition: font-size 2s ease-in 0.1s, width 2s, height 2s, background-color 2s, transform 2s;
//     &:hover {
//         background-color: #ffcccc;
//         width: 200px;
//         height: 200px;
//         font-size: 36px;
//         transform: rotate(180deg);
//     }
// }
