@import '../../../../base.scss';

* {
    list-style-type: none;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $yellowText;
    font-size: 20px;

    ul{
        margin: 0;
        padding: 20px 0px;
    }

    select {
        color: black;
    }

    input {
        color: black;
    }

    .book-name{
        margin: 0px 10px;
    }

    h4{
        color: $whiteText;
    }
}