// .parent1 {
//     height: 300px;
//     background-color: green;
//     display: grid;
//     place-items: center;

//     & .input_text {
//         font-size: 24px;
//         color: ivory;
//         background-color: lighten($color: orange, $amount: 0);
//     }
// }

// .pancakes{
//     background-color: blueviolet;
// }
// .parent2{
//     height: 300px;

//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     background-color: blueviolet;

//     & .box--stretch {
//         display: grid;
//         place-items: center;
//         flex: 1 1 150px;    // streching
//         margin: 5px;
//         border-radius: 5%;
//         background-color: palegreen;
//     }
//     & .box {
//         display: grid;
//         place-items: center;
//         flex: 0 1 150px; // no streching
//         margin: 5px;
//         border-radius: 5%;
//         background-color: paleturquoise;
//     }
// }

// .parent3{
//     height: 300px;
//     display: grid;
//     place-items: center;

//     & .card {
//         background-color: black;
//         width: clamp(23ch, 50%, 46ch);
//         display: flex;
//         flex-direction: column;
//         padding: 1rem;
//         justify-content: space-between;

//     }

//     .title{
//         color: white
//     }

//     .image{
//         background-color: cornflowerblue;
//     }

//     .desc {
//         background-color: crimson;
//     }
// }

// GRID - TEMPLATE-COLUMNS and GAPS
// .wrapper-level-1 {
//     display: grid;
//     grid-template-columns: 70% 30%;
//     // grid-column-gap: 1em;
//     // grid-row-gap: 1em;
//     grid-gap: 1em;
//   & > div {
//     background-color: blanchedalmond;
//     padding: 1em;
//   }
//   & > div:nth-child(odd) {
//     background-color: #ddd;
//   }
// }

// GRID - GRID ITEM HEIGHT and NESTED ITEMS
// .wrapper-level-2 {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-gap: 1ch;
//     grid-auto-rows: minmax(100px, auto); //height for a grid item

//     & .nested {
//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//         grid-auto-rows: 70px;  //height for a grid item
//         grid-gap: 1em;
//        & > div {
//             border: 1px solid #333;
//             padding: 1em;
//         }
//     }

//   & > div {
//     background-color: blanchedalmond;
//     padding: 1em;
//   }
//   & > div:nth-child(odd) {
//     background-color: #ddd;
//   }
// }

/*
GRID  - GRID-COLUMN + GRID-ROW
POWER of 2D
*/
// .wrapper-level-4 {
//         display: grid;
//         grid-template-columns: 1fr 2fr 1fr;
//         grid-auto-rows: 100px;
//         grid-gap: 1em;
//         justify-items: stretch;
//         align-items: stretch;

//         .box1 {
//             grid-column: 1/3;
//             grid-row: 1/3;
//         }
//         .box2 {
//             grid-row: 2/4;
//             justify-self: center;
//             align-self:center;
//         }
//         .box3 {
//         }
//         .box4 {
//             //overlapping box
//                 grid-row: 2;
//                 grid-column: 1;
//                 border: 2px solid #333;
//                 outline: 2px solid red;
//         }

//       & > div {
//         background-color: blanchedalmond;
//         padding: 1em;
//       }
//       & > div:nth-child(odd) {
//         background-color: #ddd;
//       }
//     }

/*
GRID  - GRID-AREA
*/

:root {
  --primary: #ddd;
  --secondary: #ccc;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.wrapper-level-5 {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  background-color: var(--secondary);

  .btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem; // 16 * 0.6 or 16 * 1.3
  }

  img {
    max-width: 100%;
  }

  .main-nav {
    margin-top: 2rem;

    & ul {
      display: grid;
      grid-gap: 20px;
      padding: 0;
      list-style: none;
      grid-template-columns: repeat(4, 1fr);
    }
    & a {
      background-color: var(--primary);
      display: block;
      text-decoration: none;
      padding: 0.8rem;
      text-align: center;
      color: var(--dark) !important;
      text-transform: uppercase;
      font-size: 1.1rem;
      box-shadow: var(--shadow);

      &:hover {
        background-color: var(--dark);
        color: var(--light) !important;
      }
    }
  }
  .top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 300px 1fr 1fr;
    grid-template-areas:
      ". showcase top-box-a ."
      ". showcase top-box-b .";
    grid-auto-rows: 200px;
  }
  .showcase {
    background-image: url(https://source.unsplash.com/200x200/?nature);
    background-size: cover;
    background-position: center;
    grid-area: showcase;
    color: var(--light);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .top-box {
    background-color: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1.5rem;
    box-shadow: var(--shadow);
  }
  .top-box-a {
    grid-area: top-box-a;
  }
  .top-box-b {
    grid-area: top-box-b;
  }
  .boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    & .box {
      background: var(--primary);
      text-align: center;
      padding: 1.5rem 2rem;
      box-shadow: var(--shadow);
    }
  }
  .info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem 2rem;
    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    & img {
      width: 100%;
      box-shadow: var(--shadow);
    }
  }
  footer {
    margin-top: 2rem;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
  }

  @media (max-width: 700px) {
    .top-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "showcase showcase"
        "top-box-a top-box-b";
      grid-auto-rows: 1fr;
    }

    .showcase h1 {
      font-size: 2.5rem;
    }

    .main-nav ul {
      grid-template-columns: 1fr;
    }

    .info {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 500px) {
    .top-container {
      grid-template-areas:
        "showcase"
        "top-box-a"
        "top-box-b";
    }
  }
}
